body {
	text-align: center;
	font-family: "Roboto", sans-serif;
}

h2,
h3,
p,
h4,
li {
	color: #f6f6f6;
	margin: 0;
}

form {
	width: 400px;
	margin: 0 auto;
	padding: 25px;
	border-radius: 10px;
}

a:visited {
	color: #fff;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 0;
	font-size: 15px;
}

.weatherApp {
	width: 400px;
	display: block;
	margin: 30px auto 0px auto;
}

.app {
	background-image: linear-gradient(to top, #48c6ef 20%, #6f86d6 90%);
	border: solid 1px #b8b8b8;
	border-radius: 10px;
	padding: 0;
}

h3 {
	font-weight: 500;
	font-size: 16px;
}

h4 {
	font-weight: 500;
	font-size: 16px;
	padding-bottom: 5px;
}

sup {
	vertical-align: super;
	font-size: 17px;
}

.card-forecast {
	color: #989898;
	font-size: 13px;
}

.card-day {
	font-weight: 700;
	color: #989898;
	font-size: 14px;
}

.footer {
	color: #989898;
	font-size: 10px;
	margin: 3px;
	text-align: left;
}

.footer a:link {
	color: #757575;
	text-decoration: underline;
}

.footer a:visited {
	color: #757575;
	text-decoration: underline;
}

ul#humidity-wind li {
	display: inline;
	font-size: 14px;
}

ul#humidity-wind {
	text-align: center;
	margin: 0;
	padding-bottom: 15px;
}

#forecast {
	background-color: rgb(255, 255, 255, 0.8);
	margin: 0 auto;
	padding: 15px 2px 2px 2px;
	border-radius: 0 0 10px 10px;
}

h2#temperature {
	padding-top: 15px;
}

#temperature-number {
	font-weight: 600;
	font-size: 42px;
}

#icon {
	display: block;
	margin: 0 auto;
	width: 90px;
}

#weatherNow {
	border-radius: 10px;
}

h2#city {
	padding-top: 2px;
	margin: 0;
	padding-bottom: 0;
	font-size: 30px;
	font-weight: 400;
}

#description {
	text-transform: capitalize;
}
